.redbtn 
{
  background-image: none;
  background-color: #ff6666;
  font-size: 28px;
}
.redbtn:active
{
  background-image: none;
  background-color: #880000;
  font-size: 28px;
}
.greenbtn 
{
  background-image: none;
  background-color: #66ff66;
  font-size: 28px;
}
.greenbtn:active
{
  background-image: none;
  background-color: #008800;
  font-size: 28px;
}
.hilitlabel 
{ 
  padding: 15px; 
  font-size: 28px;
  background-color: yellow;
}
.abobtn 
{
  background-image: none;
  background-color: #ff6666;
  color: #ffff23;
  font-family: Monospace;
  font-size: 20px;
}
.abobtn:active
{
  background-color: #880000;
}
.stimulinfo1
{
  background-color: #9090e0;
}
.stimulinfo2
{
  background-color: #90e090;
}
.stimulinfo3
{
  background-color: #e09090;
}
